<div class="mt-24">
    <div class="w-1/2">
        <span class="text-blue-600 dark:text-blue-500 font-bold uppercase">Contato</span>
        <h1 class="mb-4 text-2xl font-extrabold leading-none tracking-tight text-gray-900 md:text-3xl lg:text-4xl dark:text-white">Fale comigo</h1>
    
        <div class="mt-10 flex gap-4">
            <img class="w-8 h-8" src="assets/mail.png" alt="Email Icon">
            
            <div class="flex flex-col">
                <h3 class="font-semibold">Email</h3>

                <p class="text-md font-normal text-gray-600 dark:text-gray-400">joaovsdezan@gmail.com</p>
            </div>
        </div>
        
    </div>
</div>