<body [class.dark]="isDarkMode" class="font-body">
  <div class="flex flex-col min-h-screen dark:bg-gray-800">
    <app-navbar class="sticky top-0 z-50" (onChangePage)="onChangePage($event)"></app-navbar>

    <main class="flex-1 relative">
      <div id="home" class="bg-gray-200 dark:bg-gray-700 px-8 py-16 sm:px-16 lg:px-32">
        <app-home></app-home>
      </div>
      
      <div id="about" class="px-8 py-8 sm:px-16 lg:px-32">
        <app-about></app-about>
      </div>
      
      <div id="projects" class="bg-gray-200 dark:bg-gray-700 px-8 py-8 sm:px-16 lg:px-32">
        <app-projects></app-projects>
      </div>

      <div id="contact" class="px-8 py-8 sm:px-16 lg:px-32">
        <app-contact></app-contact>
      </div>
    </main>

    <app-footer></app-footer>
  </div>
</body>