<div class="flex">
    <div class="w-1/2">
        <h1 class="mb-4 font-display text-3xl font-extrabold leading-none tracking-tight text-gray-900 md:text-4xl lg:text-5xl dark:text-white">Desenvolvedor Frontend</h1>

        <p class="mb-6 text-lg font-normal text-gray-500 lg:text-xl dark:text-gray-400">Olá, me chamo João Vitor Dezan. Um desenvolvedor front-end, tentando ser fullstack.</p>
        
        <a class="inline-flex" href="https://www.linkedin.com/in/joao-dezan/" target="_blank" rel="noopener">

            <img class="dark:invert w-8 h-8" src="assets/linkedin.png"/>

        </a>
    </div>

    <div class="w-1/2 pl-20 ">
        <img class="w-44 rounded-3xl border-gray-800 border-[3px]" src="assets/perfil.jpg" alt="Perfil Photo">
    </div>
    
</div>

<div class="mt-24 inline-flex gap-8">
    <div class="inline-flex">
        <h3 class="font-semibold dark:text-white">Tech Stack </h3>
        <span class="pl-3 dark:text-white"> | </span>
    </div>
    
    <div class="inline-flex gap-3">
        <img class="w-8 h-8" src="assets/html-5.png" alt="HTML-5 Logo">
        <img class="w-8 h-8" src="assets/css-3.png" alt="CSS-3 Logo">
    </div>
    
    <img class="w-8 h-8" src="assets/js.png" alt="JS Logo">

    <img class="w-8 h-8" src="assets/angular.png" alt="Angular Logo">

    <img class="w-8 h-8" src="assets/tailwind.png" alt="Tailwind Logo">
</div>